body {
    font-family: 'Roboto', sans-serif;
}

nav {
    padding: 10px 0px;
    box-shadow: 0 1px 1px 1px #14477e2b;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 20%;
    white-space: nowrap;
}

nav ul li a {
    color: #080808;
    text-decoration: none;
    display: block;
    position: relative;
    font-weight: 500;
}

nav ul li a:hover {
    color: #52a9a9;
}

li.nav-cta a {
    background: #008080ad;
    padding: 15px 40px;
    color: #fff;
    border-radius: 20px 5px;
    transition: all 0.3s ease;
}

li.nav-cta a:hover {
    background: #008080;
    color: #fff;
    border-radius: 5px 20px;
    transition: all 0.3s ease;
}

li.nav-cta a:before {
    content: "";
    width: 0%;
    height: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: none;
    transform: none;
    background: none;
    transform-origin: 0%;
}

li.nav-cta a:hover:before {
    transform: none;
    transform-origin: 0%;
}

nav ul li a:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s transform ease;
    transform: scale3d(0, 1, 1);
    background: #52a9a9;
    transform-origin: 100% 50%;
}

nav ul li a:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0 50%;
}

.sec-padding {
    padding: 70px 0px;
}

.banner-sec {
    background-image: linear-gradient(rgb(82 169 169 / 5%), rgb(82 169 169 / 10%));
    background-size: cover;
    background-position: center;
}

.banner-sec img {
    width: 100%;
}

.large-heading {
    font-size: 80px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: normal;
    margin-bottom: 25px;
}